## Environment settings
defaults: &defaults
  application_name: AroundUs
  support_email: 'admin@aroundus.com'
  asset_host:
    enabled: false
    web_url: http://localhost:3000
    url: http://localhost:3000

  picture:
    max_allowed_size: 32 # MB
    content_types:
      - "image/gif"
      - "image/jpeg"
      - "image/png"
      - "image/x-png"
      - "image/pjpeg"
    styles:
      small:
        - '45x45#'
        - :jpg
      medium:
        - '120x120#'
        - :jpg
      large:
        - '200x200'
        - :jpg
    convert_options:
      small: "-quality 75 -strip"
      medium: "-quality 85 -strip"
      large: "-quality 100 -strip"

  post:
    max_length: 1000 # Can be of length 4294967296 characters for Postgresql (Max recommended length 65536)

  group:
    max_members: 200

  authentication:
    key_based: true
    account_activation_via_web: false
    activation_path: '/api/v1/users/account_activation/'
    password_reset_path: '/api/v1/users/password_reset/'
    session_expiry: 86400 # in seconds
    nonce: 'aroundus_api'

dev_defaults: &dev_defaults
  <<: *defaults
  host: localhost
  port: 3003
  protocol: http
  relative_url_root: /

prod_defaults: &prod_defaults
  <<: *defaults
  asset_host:
    enabled: false
    web_url: http://aroundus.space
    url: https://aroundus-api.space
  host: aroundus.space       # change this while deploying
  port: 443
  protocol: https
  relative_url_root: /

development:
  <<: *dev_defaults

test:
  <<: *defaults

production:
  <<: *prod_defaults