## Environment settings
defaults: &defaults
  application_name: Ampblog
  support_email: 'admin@amp.com'

  picture:
    max_allowed_size: 32 # MB
    content_types:
      - "image/gif"
      - "image/jpeg"
      - "image/png"
      - "image/x-png"
      - "image/pjpeg"

  authentication:
    key_based: false
    account_activation_via_web: false
    activation_path: '/api/v1/users/account_activation/'
    password_reset_path: '/api/v1/users/password_reset/'
    session_expiry: 86400 # in seconds
    nonce: 'ampb_api'

dev_defaults: &dev_defaults
  <<: *defaults
  host: localhost
  port: 3003
  protocol: http
  relative_url_root: /

prod_defaults: &prod_defaults
  <<: *defaults
  host: ampb.com       # change this while deploying
  port: 3003
  protocol: https
  relative_url_root: /

development:
  <<: *dev_defaults

test:
  <<: *defaults

production:
  <<: *prod_defaults