default: &default
  adapter: postgresql
  encoding: unicode
  host: postgres
  username: postgres
  password: postgres
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: around_us_development

test:
  <<: *default
  database: around_us_test

production:
  <<: *default
  database: around_us_production
  username: around_us
  password: <%= ENV['SAMPLE_BLOG_DATABASE_PASSWORD'] %>
